.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem
}

.columns.is-mobile>.column.is-narrow {
    -ms-flex: none;
    flex: none
}

.columns.is-mobile>.column.is-full {
    -ms-flex: none;
    flex: none;
    width: 100%
}

.columns.is-mobile>.column.is-three-quarters {
    -ms-flex: none;
    flex: none;
    width: 75%
}

.columns.is-mobile>.column.is-two-thirds {
    -ms-flex: none;
    flex: none;
    width: 66.6666%
}

.columns.is-mobile>.column.is-half {
    -ms-flex: none;
    flex: none;
    width: 50%
}

.columns.is-mobile>.column.is-one-third {
    -ms-flex: none;
    flex: none;
    width: 33.3333%
}

.columns.is-mobile>.column.is-one-quarter {
    -ms-flex: none;
    flex: none;
    width: 25%
}

.columns.is-mobile>.column.is-offset-three-quarters {
    margin-left: 75%
}

.columns.is-mobile>.column.is-offset-two-thirds {
    margin-left: 66.6666%
}

.columns.is-mobile>.column.is-offset-half {
    margin-left: 50%
}

.columns.is-mobile>.column.is-offset-one-third {
    margin-left: 33.3333%
}

.columns.is-mobile>.column.is-offset-one-quarter {
    margin-left: 25%
}

.columns.is-mobile>.column.is-1 {
    -ms-flex: none;
    flex: none;
    width: 8.33333%
}

.columns.is-mobile>.column.is-offset-1 {
    margin-left: 8.33333%
}

.columns.is-mobile>.column.is-2 {
    -ms-flex: none;
    flex: none;
    width: 16.66667%
}

.columns.is-mobile>.column.is-offset-2 {
    margin-left: 16.66667%
}

.columns.is-mobile>.column.is-3 {
    -ms-flex: none;
    flex: none;
    width: 25%
}

.columns.is-mobile>.column.is-offset-3 {
    margin-left: 25%
}

.columns.is-mobile>.column.is-4 {
    -ms-flex: none;
    flex: none;
    width: 33.33333%
}

.columns.is-mobile>.column.is-offset-4 {
    margin-left: 33.33333%
}

.columns.is-mobile>.column.is-5 {
    -ms-flex: none;
    flex: none;
    width: 41.66667%
}

.columns.is-mobile>.column.is-offset-5 {
    margin-left: 41.66667%
}

.columns.is-mobile>.column.is-6 {
    -ms-flex: none;
    flex: none;
    width: 50%
}

.columns.is-mobile>.column.is-offset-6 {
    margin-left: 50%
}

.columns.is-mobile>.column.is-7 {
    -ms-flex: none;
    flex: none;
    width: 58.33333%
}

.columns.is-mobile>.column.is-offset-7 {
    margin-left: 58.33333%
}

.columns.is-mobile>.column.is-8 {
    -ms-flex: none;
    flex: none;
    width: 66.66667%
}

.columns.is-mobile>.column.is-offset-8 {
    margin-left: 66.66667%
}

.columns.is-mobile>.column.is-9 {
    -ms-flex: none;
    flex: none;
    width: 75%
}

.columns.is-mobile>.column.is-offset-9 {
    margin-left: 75%
}

.columns.is-mobile>.column.is-10 {
    -ms-flex: none;
    flex: none;
    width: 83.33333%
}

.columns.is-mobile>.column.is-offset-10 {
    margin-left: 83.33333%
}

.columns.is-mobile>.column.is-11 {
    -ms-flex: none;
    flex: none;
    width: 91.66667%
}

.columns.is-mobile>.column.is-offset-11 {
    margin-left: 91.66667%
}

.columns.is-mobile>.column.is-12 {
    -ms-flex: none;
    flex: none;
    width: 100%
}

.columns.is-mobile>.column.is-offset-12 {
    margin-left: 100%
}

@media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
        -ms-flex: none;
        flex: none
    }
    .column.is-full-mobile {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters-mobile {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds-mobile {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half-mobile {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third-mobile {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter-mobile {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters-mobile {
        margin-left: 75%
    }
    .column.is-offset-two-thirds-mobile {
        margin-left: 66.6666%
    }
    .column.is-offset-half-mobile {
        margin-left: 50%
    }
    .column.is-offset-one-third-mobile {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter-mobile {
        margin-left: 25%
    }
    .column.is-1-mobile {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1-mobile {
        margin-left: 8.33333%
    }
    .column.is-2-mobile {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2-mobile {
        margin-left: 16.66667%
    }
    .column.is-3-mobile {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3-mobile {
        margin-left: 25%
    }
    .column.is-4-mobile {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4-mobile {
        margin-left: 33.33333%
    }
    .column.is-5-mobile {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5-mobile {
        margin-left: 41.66667%
    }
    .column.is-6-mobile {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6-mobile {
        margin-left: 50%
    }
    .column.is-7-mobile {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7-mobile {
        margin-left: 58.33333%
    }
    .column.is-8-mobile {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8-mobile {
        margin-left: 66.66667%
    }
    .column.is-9-mobile {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9-mobile {
        margin-left: 75%
    }
    .column.is-10-mobile {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10-mobile {
        margin-left: 83.33333%
    }
    .column.is-11-mobile {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11-mobile {
        margin-left: 91.66667%
    }
    .column.is-12-mobile {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12-mobile {
        margin-left: 100%
    }
}

@media screen and (min-width: 769px),
print {
    .column.is-narrow,
    .column.is-narrow-tablet {
        -ms-flex: none;
        flex: none
    }
    .column.is-full,
    .column.is-full-tablet {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters,
    .column.is-three-quarters-tablet {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds,
    .column.is-two-thirds-tablet {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half,
    .column.is-half-tablet {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third,
    .column.is-one-third-tablet {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter,
    .column.is-one-quarter-tablet {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters,
    .column.is-offset-three-quarters-tablet {
        margin-left: 75%
    }
    .column.is-offset-two-thirds,
    .column.is-offset-two-thirds-tablet {
        margin-left: 66.6666%
    }
    .column.is-offset-half,
    .column.is-offset-half-tablet {
        margin-left: 50%
    }
    .column.is-offset-one-third,
    .column.is-offset-one-third-tablet {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter,
    .column.is-offset-one-quarter-tablet {
        margin-left: 25%
    }
    .column.is-1,
    .column.is-1-tablet {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1,
    .column.is-offset-1-tablet {
        margin-left: 8.33333%
    }
    .column.is-2,
    .column.is-2-tablet {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2,
    .column.is-offset-2-tablet {
        margin-left: 16.66667%
    }
    .column.is-3,
    .column.is-3-tablet {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3,
    .column.is-offset-3-tablet {
        margin-left: 25%
    }
    .column.is-4,
    .column.is-4-tablet {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4,
    .column.is-offset-4-tablet {
        margin-left: 33.33333%
    }
    .column.is-5,
    .column.is-5-tablet {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5,
    .column.is-offset-5-tablet {
        margin-left: 41.66667%
    }
    .column.is-6,
    .column.is-6-tablet {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6,
    .column.is-offset-6-tablet {
        margin-left: 50%
    }
    .column.is-7,
    .column.is-7-tablet {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7,
    .column.is-offset-7-tablet {
        margin-left: 58.33333%
    }
    .column.is-8,
    .column.is-8-tablet {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8,
    .column.is-offset-8-tablet {
        margin-left: 66.66667%
    }
    .column.is-9,
    .column.is-9-tablet {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9,
    .column.is-offset-9-tablet {
        margin-left: 75%
    }
    .column.is-10,
    .column.is-10-tablet {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10,
    .column.is-offset-10-tablet {
        margin-left: 83.33333%
    }
    .column.is-11,
    .column.is-11-tablet {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11,
    .column.is-offset-11-tablet {
        margin-left: 91.66667%
    }
    .column.is-12,
    .column.is-12-tablet {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12,
    .column.is-offset-12-tablet {
        margin-left: 100%
    }
}

@media screen and (max-width: 1023px) {
    .column.is-narrow-touch {
        -ms-flex: none;
        flex: none
    }
    .column.is-full-touch {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters-touch {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds-touch {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half-touch {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third-touch {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter-touch {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters-touch {
        margin-left: 75%
    }
    .column.is-offset-two-thirds-touch {
        margin-left: 66.6666%
    }
    .column.is-offset-half-touch {
        margin-left: 50%
    }
    .column.is-offset-one-third-touch {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter-touch {
        margin-left: 25%
    }
    .column.is-1-touch {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1-touch {
        margin-left: 8.33333%
    }
    .column.is-2-touch {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2-touch {
        margin-left: 16.66667%
    }
    .column.is-3-touch {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3-touch {
        margin-left: 25%
    }
    .column.is-4-touch {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4-touch {
        margin-left: 33.33333%
    }
    .column.is-5-touch {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5-touch {
        margin-left: 41.66667%
    }
    .column.is-6-touch {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6-touch {
        margin-left: 50%
    }
    .column.is-7-touch {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7-touch {
        margin-left: 58.33333%
    }
    .column.is-8-touch {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8-touch {
        margin-left: 66.66667%
    }
    .column.is-9-touch {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9-touch {
        margin-left: 75%
    }
    .column.is-10-touch {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10-touch {
        margin-left: 83.33333%
    }
    .column.is-11-touch {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11-touch {
        margin-left: 91.66667%
    }
    .column.is-12-touch {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12-touch {
        margin-left: 100%
    }
}

@media screen and (min-width: 1024px) {
    .column.is-narrow-desktop {
        -ms-flex: none;
        flex: none
    }
    .column.is-full-desktop {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters-desktop {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds-desktop {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half-desktop {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third-desktop {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter-desktop {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters-desktop {
        margin-left: 75%
    }
    .column.is-offset-two-thirds-desktop {
        margin-left: 66.6666%
    }
    .column.is-offset-half-desktop {
        margin-left: 50%
    }
    .column.is-offset-one-third-desktop {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter-desktop {
        margin-left: 25%
    }
    .column.is-1-desktop {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1-desktop {
        margin-left: 8.33333%
    }
    .column.is-2-desktop {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2-desktop {
        margin-left: 16.66667%
    }
    .column.is-3-desktop {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3-desktop {
        margin-left: 25%
    }
    .column.is-4-desktop {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4-desktop {
        margin-left: 33.33333%
    }
    .column.is-5-desktop {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5-desktop {
        margin-left: 41.66667%
    }
    .column.is-6-desktop {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6-desktop {
        margin-left: 50%
    }
    .column.is-7-desktop {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7-desktop {
        margin-left: 58.33333%
    }
    .column.is-8-desktop {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8-desktop {
        margin-left: 66.66667%
    }
    .column.is-9-desktop {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9-desktop {
        margin-left: 75%
    }
    .column.is-10-desktop {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10-desktop {
        margin-left: 83.33333%
    }
    .column.is-11-desktop {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11-desktop {
        margin-left: 91.66667%
    }
    .column.is-12-desktop {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12-desktop {
        margin-left: 100%
    }
}

@media screen and (min-width: 1216px) {
    .column.is-narrow-widescreen {
        -ms-flex: none;
        flex: none
    }
    .column.is-full-widescreen {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters-widescreen {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds-widescreen {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half-widescreen {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third-widescreen {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter-widescreen {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters-widescreen {
        margin-left: 75%
    }
    .column.is-offset-two-thirds-widescreen {
        margin-left: 66.6666%
    }
    .column.is-offset-half-widescreen {
        margin-left: 50%
    }
    .column.is-offset-one-third-widescreen {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter-widescreen {
        margin-left: 25%
    }
    .column.is-1-widescreen {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1-widescreen {
        margin-left: 8.33333%
    }
    .column.is-2-widescreen {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2-widescreen {
        margin-left: 16.66667%
    }
    .column.is-3-widescreen {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3-widescreen {
        margin-left: 25%
    }
    .column.is-4-widescreen {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4-widescreen {
        margin-left: 33.33333%
    }
    .column.is-5-widescreen {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5-widescreen {
        margin-left: 41.66667%
    }
    .column.is-6-widescreen {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6-widescreen {
        margin-left: 50%
    }
    .column.is-7-widescreen {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7-widescreen {
        margin-left: 58.33333%
    }
    .column.is-8-widescreen {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8-widescreen {
        margin-left: 66.66667%
    }
    .column.is-9-widescreen {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9-widescreen {
        margin-left: 75%
    }
    .column.is-10-widescreen {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10-widescreen {
        margin-left: 83.33333%
    }
    .column.is-11-widescreen {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11-widescreen {
        margin-left: 91.66667%
    }
    .column.is-12-widescreen {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12-widescreen {
        margin-left: 100%
    }
}

@media screen and (min-width: 1192px) {
    .column.is-narrow-fullhd {
        -ms-flex: none;
        flex: none
    }
    .column.is-full-fullhd {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-three-quarters-fullhd {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-two-thirds-fullhd {
        -ms-flex: none;
        flex: none;
        width: 66.6666%
    }
    .column.is-half-fullhd {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-one-third-fullhd {
        -ms-flex: none;
        flex: none;
        width: 33.3333%
    }
    .column.is-one-quarter-fullhd {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-three-quarters-fullhd {
        margin-left: 75%
    }
    .column.is-offset-two-thirds-fullhd {
        margin-left: 66.6666%
    }
    .column.is-offset-half-fullhd {
        margin-left: 50%
    }
    .column.is-offset-one-third-fullhd {
        margin-left: 33.3333%
    }
    .column.is-offset-one-quarter-fullhd {
        margin-left: 25%
    }
    .column.is-1-fullhd {
        -ms-flex: none;
        flex: none;
        width: 8.33333%
    }
    .column.is-offset-1-fullhd {
        margin-left: 8.33333%
    }
    .column.is-2-fullhd {
        -ms-flex: none;
        flex: none;
        width: 16.66667%
    }
    .column.is-offset-2-fullhd {
        margin-left: 16.66667%
    }
    .column.is-3-fullhd {
        -ms-flex: none;
        flex: none;
        width: 25%
    }
    .column.is-offset-3-fullhd {
        margin-left: 25%
    }
    .column.is-4-fullhd {
        -ms-flex: none;
        flex: none;
        width: 33.33333%
    }
    .column.is-offset-4-fullhd {
        margin-left: 33.33333%
    }
    .column.is-5-fullhd {
        -ms-flex: none;
        flex: none;
        width: 41.66667%
    }
    .column.is-offset-5-fullhd {
        margin-left: 41.66667%
    }
    .column.is-6-fullhd {
        -ms-flex: none;
        flex: none;
        width: 50%
    }
    .column.is-offset-6-fullhd {
        margin-left: 50%
    }
    .column.is-7-fullhd {
        -ms-flex: none;
        flex: none;
        width: 58.33333%
    }
    .column.is-offset-7-fullhd {
        margin-left: 58.33333%
    }
    .column.is-8-fullhd {
        -ms-flex: none;
        flex: none;
        width: 66.66667%
    }
    .column.is-offset-8-fullhd {
        margin-left: 66.66667%
    }
    .column.is-9-fullhd {
        -ms-flex: none;
        flex: none;
        width: 75%
    }
    .column.is-offset-9-fullhd {
        margin-left: 75%
    }
    .column.is-10-fullhd {
        -ms-flex: none;
        flex: none;
        width: 83.33333%
    }
    .column.is-offset-10-fullhd {
        margin-left: 83.33333%
    }
    .column.is-11-fullhd {
        -ms-flex: none;
        flex: none;
        width: 91.66667%
    }
    .column.is-offset-11-fullhd {
        margin-left: 91.66667%
    }
    .column.is-12-fullhd {
        -ms-flex: none;
        flex: none;
        width: 100%
    }
    .column.is-offset-12-fullhd {
        margin-left: 100%
    }
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem
}

.columns:last-child {
    margin-bottom: -0.75rem
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem)
}

.columns.is-centered {
    -ms-flex-pack: center;
    justify-content: center
}

.columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
}

.columns.is-gapless>.column {
    margin: 0;
    padding: 0 !important
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 1.5rem
}

.columns.is-gapless:last-child {
    margin-bottom: 0
}

.columns.is-mobile {
    display: -ms-flexbox;
    display: flex
}

.columns.is-multiline {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.columns.is-vcentered {
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width: 769px),
print {
    .columns:not(.is-desktop) {
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-desktop {
        display: -ms-flexbox;
        display: flex
    }
}

.columns.is-variable {
    --columnGap: 0.75rem;
    margin-left: calc(-1 * var(--columnGap));
    margin-right: calc(-1 * var(--columnGap))
}

.columns.is-variable .column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap)
}

.columns.is-variable.is-0 {
    --columnGap: 0rem
}

.columns.is-variable.is-1 {
    --columnGap: 0.25rem
}

.columns.is-variable.is-2 {
    --columnGap: 0.5rem
}

.columns.is-variable.is-3 {
    --columnGap: 0.75rem
}

.columns.is-variable.is-4 {
    --columnGap: 1rem
}

.columns.is-variable.is-5 {
    --columnGap: 1.25rem
}

.columns.is-variable.is-6 {
    --columnGap: 1.5rem
}

.columns.is-variable.is-7 {
    --columnGap: 1.75rem
}

.columns.is-variable.is-8 {
    --columnGap: 2rem
}

.columns.has-equal-heights .column {
    display: -ms-flexbox;
    display: flex
}

.columns.has-equal-heights .column>* {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.splitbox {
    box-shadow: 5px 8px 20px 0 rgba(219, 219, 219, 0.5);
    border-radius: 6px;
    background-color: white;
    overflow: hidden
}

.splitbox .title {
    text-align: center
}

.splitbox img {
    max-width: 165px;
    max-height: 115px;
    margin-bottom: 2rem
}

@media screen and (min-width: 769px),
print {
    .splitbox img {
        max-width: 265px;
        max-height: 215px
    }
}

.splitbox .header {
    padding: 2.5rem 1rem
}

@media screen and (max-width: 768px) {
    .splitbox .header {
        text-align: center
    }
}

@media screen and (min-width: 769px),
print {
    .splitbox .body {
        display: -ms-flexbox;
        display: flex
    }
}

.splitbox .column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem
}

.splitbox .column:first-child {
    background-color: #fef2cd
}

.splitbox .column:last-child {
    background-color: #f9d2f3
}

@media screen and (min-width: 769px),
print {
    .splitbox .column {
        width: 50%;
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

@media screen and (min-width: 769px),
print {
    .section,
    .app-footer {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

.section.is-tight,
.is-tight.app-footer {
    padding-top: 2rem;
    padding-bottom: 2rem
}
.button {
    border-radius: 5px
}